
.header{
    display: grid;
    place-content: center;
    
}
footer{
    display: grid;
    place-content: center;
    padding-top: 20px;

}
.fecha{
    
    border-radius: 4px;
    background-color: rgb(190, 186, 186);
    height: 25px;
    padding-left: 8px;
    padding-top: 5px;
}
.bloc2{   
    border-right: 1px solid grey;
    padding-right: 20px;
}
.bloc3{   
    padding-left: 20px;
    
}

#bloquecentral{
    display: grid;
    grid-template-columns: 5fr 2fr;
    border-bottom: 1px solid grey;
}